html, head, body, div, h1, h2, h3, h4, h5, h6, p, a, link {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
}

/* Page Header CSS ------ Both Pages*/
#header {
    width: 100%;
    background-color: #eb9f26;
    margin-bottom: .25%;
}
.headerBox {
    width: 90%;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: .5%;
    width: 20%;
}
.logoBox {
    height: 90%;
    width: 90%;
}
.nav {
   display: inline-block;
   width: auto;
}
.navBox {
    padding: 8% 0 8% 0;
}
.navBox a {
    color: black;
    text-decoration: none;
    padding-right: 25px;
    font-size: 1.5vw;
    font-weight: 100;
}

/* Home Page Main Picture */
#contentHome {
    width: 100%;
    height: 100%;
}
.mainPictureHome {
    width: 100%;
    background-color: lightgray;
    background-image: url(images-CSS/hero-image.jpg);
    background-size: cover;
}
.mainPictureHomeText{
    display: flex;
    justify-content: space-evenly;
    padding-top: 28%;
    padding-bottom: 6%;
}
.mainPictureHomeText h1 {
    background-color: white;
    font-size: 3.5vw;
    padding: 10px;
    border: 1px solid #dadfea;
    border-radius: 10px;
}

/* Every Categorie */
#everyCate {
    width: 100%;
    background-color: white;
}
.everyCateBox{
    width: 80%;
    margin: 0 10% 0 10%;
}
.everyCateText h2 {
    font-size: 3.5vw;
    padding-top: 4%;
}
.everyCateText p {
    font-size: 2vw;
    padding-top: 3%;
    font-weight: 100;
}
.everyCatePictures {
    padding-top: 3%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.breakfastMeal {
    display: inline-block;
    padding-right: 1%;
}
.breakfastMeal img {
    height: 89%;
    width: 100%;
}
.breakfastMeal h3{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 1.35vw;
}
.veganIdeas {
    display: inline-block;
}
.veganIdeas img {
    height: 89%;
    width: 100%;
}
.veganIdeas h3{
    display: flex;
    justify-content: center; 
    font-weight: 100;
    font-size: 1.35vw;
}
.coldWeather {
    display: inline-block;
    padding-left: 1%;
}
.coldWeather img {
    height: 89%;
    width: 100%;
}
.coldWeather h3 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 1.35vw;
}

/* Healthy Recipies Section */
#healthyRecipes {
    width: 100%;
    background-color: #dadfea;
}
.healthyRecipesBox {
    width: 80%;
    margin: 0 10% 0 10%;

}
.healthyRecipesText h2 {
    font-size: 3.5vw;
    padding-top: 4%;
}
.healthyRecipesText p {
    font-size: 2vw;
    padding-top: 3%;
    font-weight: 100;
}

.healthRecipesPictures {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 5%;
}
.stuffedPeppers {
    display: inline-block;
    background-color: white;
}
.stuffedPeppersBox {
    padding: 0 .5% 0 .5%;

}
.stuffedPeppers img {
    height: 78.5%;
    width: 100%;
}
.stuffedPeppers h3 {
    display: flex;
    justify-content: center;
    padding: 2% 0 4% 0;
    font-weight: 100;
    font-size: 1.35vw;
}
.breakfastMuffins {
    display: inline-block;
    background-color: white;
}
.breakfastMuffinsBox {
    padding: 0 .5% 0 .5%;
}
.breakfastMuffins img {
    height: 78.5%;
    width: 100%;
    
}
.breakfastMuffins h3 {
    display: flex;
    justify-content: center;
    padding: 2% 0 4% 0;
    font-weight: 100;
    font-size: 1.35vw;
}
.eggParm {
    display: inline-block;
    background-color: white;

}
.eggParmBox {
    padding: 0 .5% 0 .5%;
}
.eggParm img {
    height: 78.5%;
    width: 100%;

}
.eggParm h3 {
    display: flex;
    justify-content: center;
    padding: 2% 0 4% 0;
    font-weight: 100;
    font-size: 1.35vw;

}
.chickenThighs {
    display: inline-block;
    background-color: white;
}
.chickenThighsBox {
    padding: 0 .5% 0 .5%;

}
.chickenThighs img {
    height: 78.5%;
    width: 100%;
}
.chickenThighs h3 {
    display: flex;
    justify-content: center;
    padding: 2% 0 4% 0;
    font-weight: 100;
    font-size: 1.35vw;

}

/* Where to Eat Section */
#whereEat {
    width: 100%;
    background-color: white;
}
.whereEatBox {
    width: 80%;
    margin: 0 10% 0 10%;
}
.whereEatText h2 {
    font-size: 3.5vw;
    padding-top: 4%;
}
.whereEatText p {
    font-size: 2vw;
    padding-top: 3%;
    font-weight: 100;
}

.whereEatPictures {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 5%;
}
.bestSandwich {
    display: inline-block;
}
.bestSandwichBox {
    padding-right: 1%;
}
.bestSandwich img {
    height: 85%;
    width: 100%;
    border: .35vw solid #dadfea;
}
.bestSandwich h3  {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-weight: 100;
    font-size: 1.35vw;

}
.fiftyStatePizza {
    display: inline-block;
}
.fiftyStatePizzaBox {
    padding: 0 2% 0 2%;
}
.fiftyStatePizza img {
    height: 85%;
    width: 100%;
    border: .35vw solid #dadfea;
}
.fiftyStatePizza h3 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 1.35vw;

}
.cityGuides {
    display: inline-block;
}
.cityGuidesBox {
    padding-left: 1%;
}
.cityGuides img {
    height: 85%;
    width: 100%;
    border: .35vw solid #dadfea;
}
.cityGuides h3 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 1.35vw;

}

/* ----------------------Recipe Page---------------------------------------------------------------- */
/* Recipes HomePage Landing */
#contentRecipes {
    width: 100%;
    height: 100%;
}
.mainPictureRecipes {
    width: 100%;
    background-color: lightgray;
    background-image: url(images-CSS/bengal-burger.jpg);
    background-size: cover;
}
.mainPictureRecipesText {
    display: flex;
    justify-content: space-evenly;
    padding-top: 28%;
    padding-bottom: 6%;

}
.mainPictureRecipesText h1 {
    background-color: white;
    font-size: 3.5vw;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
  
}

/* Recipes Summary */
#summary {
    width: 100%;
    background-color: #dadfea;
}
.summaryBox {
    width: 80%;
    margin: 0 10% 0 10%;
    padding-bottom: 2%;
}
.summaryBox h2 {
    padding-top: 1%;
    font-size: 2.25vw;
}
.summaryColumns {
    width: 50%;
    column-count: 3;
}
.summaryType {
    font-weight: bold;
}
.summaryBox p {
    display: inline-block;
    font-size: 1.25vw;
    padding-top: 1.5%;
    padding-right: 10%;
}

/* Directions Header */
#directionsSection {
    width: 100%;
    height: 100%;
}
.directionsHeaderBox {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;

}
.directionsHeader {
    padding-top: 3%;
}
.directionsHeader h1 {
    font-size: 3.5vw;
    display: block;
}
.starRating {
    color: #a13a15;
    padding-right: 2%;
    position: relative;
    bottom: 1px;
}
.directionsHeader p {
    display: flex;
    justify-content: center;
    font-size: 1.25vw;
}
.recipeButtons {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
#saveButton {
    background-color: #a13a15;
    color: white;
    font-size: 1vw;
    border-radius: 15px;
    padding: 1.25% 2.25% 1.25% 2.25%;
    border-style: none;
    margin-right: 2%;
}
#printButton {
    background-image: url(images-CSS/printer-icon-vector-25322906.jpg);
    background-size: 100% 115%;
    background-color: white;
    width: 10%;
    border-radius: 25px;
    border-style: none;
    border: 1px solid #dadfea;
}
/* Directions Quote */
#directionsQuote {
    width: 100%;
}
.directionsQuoteBox {
    width: 80%;
    height: auto;
    margin: 3% 10% 0 10%;
    background-color: #dadfea;
    
}
.directionsQuoteBox p {
    width: 80%;
    margin: 0 10% 0 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.5vw;
    text-align: center;
    color: #575656;
}

/* Direction Steps + Ingrdients */
#directionColumns {
    width: 100%;
    padding-top: 5%;
    
}
.directionsColumnsBox {
    width: 80%;
    margin: 0 10% 0 10%;
    column-count: 2;
    
}
.ingrdients {
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.ingrdients h2 {
    font-size: 1.65vw;
}
.ingrdients li {
    padding-bottom: 1%;
    font-size: 1vw;
    font-weight: 100;
}
.ingrdients h4 {
    font-size: 1.2vw;
}
.directionSteps {
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    padding-bottom: 20%;
}
.directionSteps h2 {
    font-size: 1.65vw;
}
.directionSteps li {
    padding-bottom: 4.5%;
    font-size: 1vw;
    font-weight: 100;
}
.directionSteps h4 {
    font-size: 1.2vw;
}

/* Video Section */
#videoSection {
    width: 100%;
    padding-bottom: 5%;

}
.videoSectionBox {
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: #dadfea;
    padding-bottom: 5%;
    border: .5vw solid darkgray;
    border-radius: 25px;
}
.videoTitle {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    padding-bottom: 3%;
}
.videoLinkBox {
    max-width: 65%;
    margin: 0px auto;
}
.videoLinkBox div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
}
.videoLinkBox iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* Page Footer CSS ------ Both Pages */
#footer {
    width: 100%;
    height: auto;
    background-color: #eb9f26;
}
.footerBox {
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}
.copyRight {
    display: inline-block;
    padding: 0;
}
.copyRight h3 {
    font-weight: 100;
    font-size: 1.5vw;

}
.info {
    display: inline-block;
    width: auto;
}
.info a {
    color: black;
    text-decoration: none;
    padding-right: 25px;
    font-size: 1.5vw;
    font-weight: 100;
}